*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Header */
header {
  background-color: #34a0a4;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;

}

.nav-menu li {
  margin-right: 20px;
  cursor: pointer;
  margin: 0 10px;
  background-color: #e5f4f6;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

}


.nav-menu li a {
  color: #033537;
  text-decoration: none;
}

.nav-menu li:hover {
  background-color: #d7f2f4;
}


/* User Profile Dropdown */
.user-profile {
  display: flex;
  align-items: center;
  position: relative;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
  cursor: pointer;
}

button {
    background-color: #3F72AF;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5db3b6;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  padding-left: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
    background: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
    background-image: url('/Dummy/static/img/image.png'); /* Background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.background {
    display: flex;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Dark overlay */
    padding: 50px;
    border-radius: 10px;
}

.container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
}

.screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
}

.screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}

.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-left {
    margin-right: auto;
}

.screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}

.screen-header-button.close {
    background: #ed1c6f;
}

.screen-header-button.maximize {
    background: #e8e925;
}

.screen-header-button.minimize {
    background: #74c54f;
}

.screen-header-right {
    display: flex;
}

.screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 50px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #34a0a4;
    font-size: 26px;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #34a0a4;
}

.app-contact {
    margin-top: auto;
    font-size: 12px;
    color: #888;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: #666;
}

.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-button {
    background: none;
    border: none;
    color: #34a0a4;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    color: #b9134f;
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }
}

/* scroll bar */
/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #d4e6e7; /* Color of the scrollbar track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #34a0a4; /* Color of the scrollbar thumb */
    border-radius: 10px;
    border: 2px solid #d4e6e7; /* Padding around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1c7376; /* Color of the scrollbar thumb on hover */
}
