body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ffffff, #4c52ce);
    color: white;
}

.container {
    background: rgb(254, 254, 254);
    border-radius: 15px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 40px;
    width: 350px;
}

.container h2 {
    text-align: center;
    color: #333;
}

.profile-pic {
    text-align: center;
    margin-bottom: 15px;
}

.profile-pic img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group input[type="file"] {
    padding: 3px;
}

.form-group input:focus {
    outline: none;
    border-color: #007bff;
}

.btn {
    width: 100%;
    padding: 15px;
    background-color: #ff416c;
    background-image: linear-gradient(135deg, #ff4b2b, #ff416c);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.3s ease, background 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* .back-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
} */

.btn-back {
    width: 100%;
    padding: 15px;
    background-color: #ff416c;
    background-image: linear-gradient(135deg, #ff4b2b, #ff416c);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.3s ease, background 0.3s ease;
}

.btn-back:hover {
    background-color: #ffffff;
}